# ──────────── Frontend (React/Vue/etc) ────────────
dist/              
dist-ssr/           
node_modules/

# ──────────── Backend (Python) ────────────
__pycache__/
venv/

# ──────────── Datos y Secrets ────────────
*.env               
credentials.json   